<a href="https://colab.research.google.com/github/dnasilow/dnasilow/blob/main/HW0_P2_final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [52]:
#HW0 Problem 2 by Dominik Nasilowski
#2.1

from __future__ import annotations

# testing imports from lecture
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd #importing the most important
import sklearn

#checking if I have the same version
print(f"The version of numpy is: {np.__version__}")
print(f"The version of pandas is: {pd.__version__}")
print(f"The version of scikit-learn is: {sklearn.__version__}")

data = pd.read_csv("https://raw.githubusercontent.com/changyaochen/MECE4520/master/lectures/week-1/iris.csv")
#importing the given data

data.head()
#showing the head of the imported data

The version of numpy is: 1.21.6
The version of pandas is: 1.3.5
The version of scikit-learn is: 1.0.2

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [47]:
display(data)
#showing the full table

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [48]:
data.shape
#checking if all 150 rows were loaded

(150, 6)

In [49]:
#Problem 2.1
maxi = data.groupby('Species')['PetalLengthCm'].max()
print(maxi,"\n")
#Find all the maximum 'PetalLengthCm' for the 'Iris-versicolor'

get_species = data.groupby('Species')
#group the data by species
find_versi = get_species.get_group('Iris-versicolor')
#find all data for the 'Iris-versicolor' species
max_versi = find_versi.groupby('Species')['PetalLengthCm'].max()
# find the maximum 'PetalLengthCm' for the 'Iris-versicolor' species

print(f"\nAnswer: The maximal 'PetalLengthCm' of the 'Iris-versicolor' is:", max_versi[0])
#Answer: The maximal "PetalLengthCm" of the "Iris-versicolor" is 5.1

Species
Iris-setosa        1.9
Iris-versicolor    5.1
Iris-virginica     6.9
Name: PetalLengthCm, dtype: float64


Answer: The maximal 'PetalLengthCm' of the 'Iris-versicolor' is: 5.1

In [50]:
print(data.groupby('Species')['PetalLengthCm'].min())
#Find all the minimum 'PetalLengthCm' for the 'Iris-versicolor'

min_versi = find_versi.groupby('Species')['PetalLengthCm'].min()
# find the minimum 'PetalLengthCm' for the 'Iris-versicolor' species

print(f"\nAnswer: The minimal 'PetalLengthCm' of the 'Iris-versicolor' is:",min_versi[0] )
#Answer: The minimal "PetalLengthCm" of the "Iris-versicolor" is 3.0

Species
Iris-setosa        1.0
Iris-versicolor    3.0
Iris-virginica     4.5
Name: PetalLengthCm, dtype: float64

Answer: The minimal 'PetalLengthCm' of the 'Iris-versicolor' is: 3.0

In [51]:
# Problem 2.2
print(data.groupby('Species')['SepalWidthCm'].mean()) 
#showing all the averages of 'SepalWidthCm' categories via 'Species'

print('\n', data[['Species','SepalWidthCm']].groupby('Species').mean()) 
#(same information as above)

larg_avg = max(data.groupby('Species')['SepalWidthCm'].mean())
print(larg_avg)
#get the largest average of all the species

print(f"\nAnswer: The largest average 'SepalWidthCm' among all of the 3 species is the Iris-setosa with an average of:", larg_avg)
#Answer: The largest average "SepalWidthCm" among all of the 3 species, the Iris-setosa has the largest average of 3.418 and

Species
Iris-setosa        3.418
Iris-versicolor    2.770
Iris-virginica     2.974
Name: SepalWidthCm, dtype: float64

                  SepalWidthCm
Species
Iris-setosa             3.418
Iris-versicolor         2.770
Iris-virginica          2.974
3.418

Answer: The largest average 'SepalWidthCm' among all of the 3 species is the Iris-setosa with an average of: 3.418